body{
  font-family: poppins;
}

header {
  display: block;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
}

header .header-logo {
  font-size: 40px;
  text-decoration: none;
  color: rgb(25, 59, 86);
}

header nav {
  width: 670px;
  display: inline-block;
  float: right;
}

header nav a {
  margin: 20px;
  text-decoration: none;
  color: rgb(47, 40, 29);
  }

header nav .header_sign_in {
  display: inline-block;
  margin: 0 0 0 20px;
}

button {
  border-color: gray;
  padding: 10px 15px 10px 15px;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
}

.button_middle{
  width: 100%;
  text-align: center;
}

button:hover {
  background-color: #FA9904;
  color: white;
  border-color: transparent;
}

.link_video {
  color: #FA9904;
}

main section .first_page {
  float: left;
  display: block;
  width: 49%;

}

main section div svg {
  padding: 0 5px 0 20px;
  
}

main section .big {
 float: right;
}

main section div h1{
  font-size: 44px;
  margin: 80px 0 30px 0;
}

.first_section_break{
  padding: 100px 100px 500px 100px;
}

.second_section_break{
  padding: 100px 100px 50px 100px;
}


main section h2{
  font-size: 36px;
  text-align: center;
}

main section div p {
  color: rgb(47, 40, 29);
  font-size: 18px;
  width: 458px;
  line-height: 28px;
}

.flex{
  display: flex;
}

main section, footer {
  padding: 100px;
}
