*{transition: all .1s ease-in;}

html {
    background-color: #FDDE7E;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

body section {
    width: 410px;
    height: 500px;
    text-align: center;
    margin: 80px 0;
    background-color: white;
}

body section:hover {
    height: 580px;
    margin-top: 40px;
}

body .bronze_section {
    background-image: url(./08_hw_1.bronze_bean.svg), url(./08_hw_1.bronze_cup.svg), url(./08_hw_1.bronze_smoke.svg);
}

body .gold_section {
    background-image: url(./08_hw_1.bronze_bean.svg), url(./08_hw_1.gold_cup.svg), url(./08_hw_1.gold_smoke.svg);
}

body .silver_section {
    background-image: url(./08_hw_1.bronze_bean.svg), url(./08_hw_1.silver_cup.svg), url(./08_hw_1.silver_smoke.svg);
}

body section .top_price {
    padding-top: 18%;
    color: green;
    font-size: 52px;
}

body section h1 {
    padding-top: 120px;
    padding-bottom: 16px;
}
    