main {
  margin: 5%;
}
main .top {
  text-align: center;
}
main .top h1 {
  font-size: 34px;
  letter-spacing: 5px;
  color: #3c3c3c;
  font-weight: 700;
  font-family: "Lato";
  text-transform: uppercase;
}
main .top p {
  font-size: 16px;
  line-height: 24px;
  color: #3c3c3c;
  font-weight: 300;
  font-family: "Lato";
}
main .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .team section {
  position: relative;
}
main .team section h4 {
  font-size: 18px;
  line-height: 18px;
  color: #282528;
  font-weight: 700;
  font-family: "Lato";
  margin-bottom: 0;
}
main .team section p {
  font-size: 16px;
  line-height: 24px;
  color: #3c3c3c;
  font-weight: 300;
  font-family: "Lato";
  margin-top: 0;
}
main .team section div .social {
  background-color: #82cbdd;
  padding: 4px;
  margin: 2px;
}
main .team section div .photo {
  background-color: #1AB5DC;
  position: relative;
  z-index: 2;
}
main .team section .contact_details {
  background-color: #1AB5DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 271px;
  width: 271px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
main div section:hover .photo {
  z-index: 0;
}