* {
    transition: all .3s ease-in;
}

body {
    margin: 85px;
    padding: 0;
}

.shop_grid {
    display: grid;
    gap: 55px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 359px) 576px;
    margin-bottom: 85px;

}

.shop_item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 1) 100%);
}

.shop_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.big_img {
    grid-column: span 2;
    grid-row: span 2;
}

.shop_item .img4 {
    object-position: 40% 50%;
}

.shop_item .img5 {
    transform: scale(2);
    position: absolute;
    top: 18%;
}

.shop_item .img6 {
    object-position: 60% 50%;
}

.shop_item:hover img {

    transform: scale(1.3);
}

.insta_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 320px);
}

.insta_item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.insta_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.insta_item .img9 {
    transform: scale(1.5);
    position: absolute;
    top: -18%;
    left: -20%;
}

.insta_item .img13 {
    position: absolute;
    top: -20%;
    height: 120%;
}

.insta_item:hover {
    background-color: transparent;
}